
**/RemoteSystemsTempFiles
**/node_modules
**/.DS_Store
**/.metadata
**/.project
**/.settings
**/.classpath
**/.recommenders
**/*.lock
**/.idea
**/.vscode
**/.factorypath

**/*~
**/bin
**/target

**/*.pot
**/*.log
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.local

**/package-lock.json
